* { box-sizing: border-box; }

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #888;
  background-color: pink;
}

/* global elements */
p {
  color: #fff;
}

h1,h2,h3,h4,h5 {
  color: blue;
  text-shadow: 0.3rem 0.3rem 0.3rem #666;
}

/* content render area after header and navbar (NOTUSEDNOW) */
/* main {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
} */

/* (used in TenttiEtusivu)
  main grid setup for content render area,
  for NavLeft & Tentti.js & right-statusbar */
.main-grid-wrapper {
  display: grid;
  grid-template-columns: 10% auto 15%;
  /* grid-template-rows: 100%; */
  justify-content: center;
  background-color:#8ecae6;
}

/* -- -- -- -- */

/* component specific styles */

/* initial page render-area container (used in LandingPage.js) (not used now) */
/* .landing-page {
  width: 100%;
  height: 100%;
  background-color: #023047;
} */

/* this wraps header & forms-containers */
.landing-page-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 10% 1%;
  /* align-items: center; */
  background-image: linear-gradient(to bottom right, #023047, #084462, #8ecae6);
  background-color: #023047;
}

.login-page-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 6rem;
  padding-left: 6rem;
}

.forms-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6rem;
  padding-right: 6rem;
}

/* signup and login containers: */
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#login-form, #signup-form {
  width: 100%;
  padding: 1rem;
}

/* UI feedback element on btn click @ logincomponents forms */
.show-feedback {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-left: 50%; /* centers this box */
  margin-bottom: 20%;
  border-radius: 1rem;
  background-color: #48B636;
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #a2ff93 inset;
}

/* div for auto-scroll on login-btn click,
  lives inside .forms-container / LoginComponent.js */
  .skroll {
    position: relative;
  }

/* -- -- -- -- */

/* all input forms in login component: */
#form-input {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #8ecae6;
  border: 0;
  border-radius: 1rem;
}

#form-input:hover {
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #023047 inset;
}

/* all buttons in login-component: */
.login-signup-button {
  max-width: 100%;
  padding: 1rem;
  color: white;
  border: 0;
  background-color: #48B636;
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #89e87a inset;
  border-radius: 1rem;
}

.login-signup-button:hover {
  background-color: #55d641;
}

/* -- -- -- -- */

/* loading screen */
.loading-screen {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-element {
  /* padding: 5rem; */
  background-color: blue;
  animation-name: loading-element-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes loading-element-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* main header (outside of browser-router) */
.header-main {
  padding: 1rem;
  background-color: #8ecae6;
}

/* main footer (outside of browser-router) */
.footer-main {
  padding: 1rem;
  background-color: #219ebc;
}

/* top navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  /* gap: 2rem; */
  width: 100%;
  padding-right: 1rem;
  /* margin: 0; */
  background-color: #219ebc;
}

nav p {
  /* border: 1em solid #000; */
  height: 100%;
  margin: 0;
  padding: 1rem;
  color: white;
}

nav p:hover {
  background-color: #023047;
  cursor: pointer;
}

/* p tagit top navbarin sisällä */
.kayttajainfo {
  padding: 1rem;
  color: white;
}

/* horizontal navbars */
.nav-left, .nav-right {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #8ecae6;
  /* border: 1px solid black; */
  /* visibility: hidden; */

  /* with transition */
  /* transition: width 0.5s; */
  /* transition-timing-function: ease; */
  /* transition-delay: 0.2s; */
}

  /* with anim */
.nav-left:hover {
  animation-name: nav-left-shrink;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  /* forwards:
  Let the div element retain the style values set by the last keyframe when the animation ends
  */
}

@keyframes nav-left-shrink {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(-60%, 0%);
  }
}

/* right status bar */

.nav-right div:hover {
  background-color: pink;
}

.nav-right:hover {
  animation-name: nav-right-shrink;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes nav-right-shrink {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(+60%, 0%);
  }
}

/* --- --- --- ---*/

/* tentti */

.tenttien-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.tentti {
  width: 100%;
  margin: 0.5rem;
  padding: 2rem;
  background-image: linear-gradient(to bottom right, #023047, #084462, #8ecae6);
  background-color: #023047; /* fallback bg color for browser-support */
  border-radius: 1rem;
}

.tentti:hover {
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #64defc inset;
}

.tentti-title {
  font-size: 2.2rem;
  text-shadow: -0.1em 0 #000, 0 0.1em #000, 0.1em 0 #000, 0 -0.1em black;
}

.tentti-desc {
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.tentti p, span {
  color: white;
}

.tentti-id, .kysymys-id, .vastaus-id {
  font-size: 0.6rem;
  margin-left: 0.5rem;
}

/* kysymys */

.kysymys {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.01rem solid #64defc;
}

.kysymys:hover {
  box-shadow: 0.1rem 0.1rem 0.6rem 0.1rem #64defc inset;
}

.kysymys-title {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: underline;
}

/* vaihtikset */

.vaihtoehto {
  /* margin-bottom: 0.5rem; */
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.vaihtoehto:hover {
  box-shadow: 0.2rem 0.2rem 0.8rem 0.1rem #ccefff inset;
}

.vastaus-teksti {
  padding-left: 2rem;
}