* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

p {
  color: #000;
}

.outer-wrapper {
  display: flex;
  flex: 1;
  padding: 1rem;
}

.chuck-categories {
  padding: 1rem;
  margin: 0.5rem;
  border: 0.1em dotted #a1a;
}

.chuck-joke {
  padding: 1rem;
  margin: 0.5rem;
  border: 0.1em dotted rgb(33, 144, 8);
}

.ui-info-box {
  padding: 1rem;
  margin: 1rem;
  border: 0.1em dotted #aaa;
}